* {
  box-sizing: border-box;
}

.parent-container {
  position: relative;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

button:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(84, 84, 84, 0.3);
  cursor: default;
  border-color: rgba(118, 118, 118, 0.3);
}

.cancel {
  background-color: red;
  padding: 15px 20px;
  color: white;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  margin-right: 12px;
}

.btn:hover {
  opacity: 1;
}

.redMsg {
  position: absolute;
  bottom: -33%;
}