<div class="list">
    <div class="topnav" #topNav id="myTopnav">
        <a class="select common">
            <select class="year" name="calender" id="calender" (change)="activeCal()"
                [(ngModel)]="currentCal">
                <option *ngFor="let cal of calList; let i = index" [value]="cal">{{ cal }}</option>
            </select>
            <select class="year" name="year" id="year" (change)="activeYr()"
                [(ngModel)]="currentYear">
                <option *ngFor="let yr of years; let i = index" [value]="yr">{{ yr }}</option>
            </select>
        </a>
        <a class="common" routerLink="/creditCard-list">Credit Card</a>
        <a class="common" routerLink="/loans">Loans</a>
        <a class="common split">
            <button class="addnewBtn" routerLink="/addthings">Add new</button>
        </a>
        <a href="javascript:void(0);" class="icon" (click)="handleClass(topNav)">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <table>
        <caption><b> {{ currentCal }}</b> expenses</caption>
        <thead>
            <tr>
                <th class="dateHeaded">
                    Date
                </th>
                <th class="purchaseHeaded">
                    Purchased Items
                </th>
                <th class="totalHeaded">
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let list of listToShow;let i=index">
                <tr (click)="gotoEdit(list['date'], contentRef)">
                    <td style="color: green;">{{ list["date"] | date: (currentCal=='Year' ? 'yyyy' : 'dd/MM') }}</td>
                    <td style="word-wrap: break-word;">{{ list['things'] | converterString }}</td>
                    <td style="color: palevioletred; word-wrap: break-word;">{{ list['things'] | converterNumber |
                        currency: 'INR' : 'symbol' : '1.0-0' }}</td>
                </tr>
                <tr class="content" #contentRef>
                    <ng-container *ngIf="currentCal!='Day'">
                        <td colspan="3">
                            <p>Following things purchased....</p>
                            <div class="left-side">
                                <p *ngFor="let item of shownonSubCategorey(list['things'])">
                                    {{ item['categorey'] + ":" + (item['categorey_value'] | currency: 'INR' : 'symbol' :
                                    '1.0-0') }}
                                </p>
                            </div>
                            <div class="right-side">
                                <div *ngFor="let item of showSubCategorey(list['things'])">
                                    {{ item['categorey'] + ":"}}
                                    <ul>
                                        <li *ngFor="let subItem of item['subcategories']; let k=index">
                                            {{ subItem.subcategorey + ':' + (getTotalAmount(subItem) | currency: 'INR' :
                                            'symbol' :
                                            '1.0-0')}}
                                            <ng-container *ngIf="subItem.to">
                                                <ul>
                                                    <li *ngFor="let sentTo of subItem.to">
                                                        {{ sentTo.person + ':' + (sentTo.amount | currency: 'INR' :
                                                        'symbol' : '1.0-0') }}
                                                    </li>
                                                </ul>
                                            </ng-container>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <p *ngIf="!listToShow.length" class="noRecord">No records found....</p>
</div>

<!-- Pagination bar -->
<app-pagination (setMonth)="setCurrentMonth($event)"></app-pagination>