<p class="title">Add Daily Expenses</p>
<div class="container">
    <form [formGroup]="thingsForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-25">
                <label for="date">Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="date" name="date" formControlName="date" min="2023-01-01" [max]="today">
            </div>
        </div>
        <div formArrayName="things">
            <div *ngFor="let thing of thingsArr.controls; let i=index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-25">
                            <label for="categorey">Item</label>
                            <span class="closebtn" *ngIf="thingsArr.controls.length > 1"
                                (click)="removeControl(i)">&times;</span>
                        </div>
                        <div class="col-75">
                            <select name="categorey" id="categorey" formControlName="categorey"
                                (change)="handleSelection(i)">
                                <option *ngFor="let option of categoreyList" [value]="option">{{ option }}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="getsubcategories(i).controls.length" formArrayName="subcategories">
                        <div class="subcategories" *ngFor="let sub of getsubcategories(i).controls; let j=index">
                            <div [formGroupName]="j">
                                <div class="row">
                                    <div class="col-25">
                                        <label for="subcategorey">{{thing.get('categorey')?.value}}</label>
                                        <span *ngIf="getsubcategories(i).controls.length > 1" class="closebtn"
                                            (click)="removeControl(i, j)">&times;</span>
                                    </div>
                                    <div class="col-75">
                                        <select name="subcategorey" id="subcategorey" formControlName="subcategorey"
                                            (change)="checkSomeKey(sub.get('subcategorey')?.value,i,j)">
                                            <option *ngFor="let subcategorey of getSubCategoriesList(i)"
                                                [value]="subcategorey">{{ subcategorey }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="sub.get('subcategorey')?.value=='Sent'" formArrayName="to">
                                    <div class="subcategories"
                                        *ngFor="let nestedsub of gettos(i,j).controls; let k=index">
                                        <div [formGroupName]="k">
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="subcategorey">{{sub.get('subcategorey')?.value}}</label>
                                                    <span *ngIf="gettos(i,j).controls.length > 1" class="closebtn"
                                                        (click)="removeControl(i,j,k)">&times;</span>
                                                </div>
                                                <div class="col-75">
                                                    <input type="text" id="to" name="to"
                                                        placeholder="Enter who to you send.." formControlName="person"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div>

                                            </div>
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="amout">Amount</label>
                                                </div>
                                                <div class="col-75">
                                                    <input type="number" id="amout" name="amout"
                                                        placeholder="Enter amount in numbers.."
                                                        formControlName="amount">
                                                    <label *ngIf="(gettos(i,j).controls.length - 1) == k">
                                                        <input type="checkbox" name="addto"
                                                            (change)="addtocategories(i,j)"> {{'Add
                                                        ' +
                                                        sub.get('subcategorey')?.value}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="sub.get('subcategorey')?.value=='Give'" formArrayName="to">
                                    <div class="subcategories"
                                        *ngFor="let nestedsub of gettos(i,j).controls; let k=index">
                                        <div [formGroupName]="k">
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="subcategorey">{{sub.get('subcategorey')?.value}}</label>
                                                    <span *ngIf="gettos(i,j).controls.length > 1" class="closebtn"
                                                        (click)="removeControl(i,j,k)">&times;</span>
                                                </div>
                                                <div class="col-75">
                                                    <input type="text" id="to" name="to"
                                                        placeholder="Enter who to you give.." formControlName="person"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="amout">Amount</label>
                                                </div>
                                                <div class="col-75">
                                                    <input type="number" id="amout" name="amout"
                                                        placeholder="Enter amount in numbers.."
                                                        formControlName="amount">
                                                    <label *ngIf="(gettos(i,j).controls.length - 1) == k">
                                                        <input type="checkbox" name="addto"
                                                            (change)="addtocategories(i,j)"> {{'Add
                                                        ' +
                                                        sub.get('subcategorey')?.value}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="sub.get('subcategorey')?.value=='Get'" formArrayName="to">
                                    <div class="subcategories"
                                        *ngFor="let nestedsub of gettos(i,j).controls; let k=index">
                                        <div [formGroupName]="k">
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="subcategorey">{{sub.get('subcategorey')?.value}}</label>
                                                    <span *ngIf="gettos(i,j).controls.length > 1" class="closebtn"
                                                        (click)="removeControl(i,j,k)">&times;</span>
                                                </div>
                                                <div class="col-75">
                                                    <input type="text" id="to" name="to"
                                                        placeholder="Enter who you get from.." formControlName="person"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-25">
                                                    <label for="amout">Amount</label>
                                                </div>
                                                <div class="col-75">
                                                    <input type="number" id="amout" name="amout"
                                                        placeholder="Enter amount in numbers.."
                                                        formControlName="amount">
                                                    <label *ngIf="(gettos(i,j).controls.length - 1) == k">
                                                        <input type="checkbox" name="addto"
                                                            (change)="addtocategories(i,j)"> {{'Add
                                                        ' +
                                                        sub.get('subcategorey')?.value}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!gettos(i,j)?.controls?.length">
                                    <div class="col-25">
                                        <label for="amout">Amount</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="number" id="amout" name="amout"
                                            placeholder="Enter amount in numbers.."
                                            formControlName="subcategorey_value">
                                        <label *ngIf="(getsubcategories(i).controls.length - 1) == j">
                                            <input type="checkbox" name="addsub" (change)="addsubcategories(i)"> {{'Add
                                            ' +
                                            thing.get('categorey')?.value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!getsubcategories(i)?.controls?.length">
                        <div class="col-25">
                            <label for="amout">Price</label>
                        </div>
                        <div class="col-75">
                            <input type="number" id="amout" name="amout" placeholder="Enter amount in numbers.."
                                formControlName="categorey_value">
                        </div>
                    </div>
                    <div class="row" *ngIf="(thingsArr.controls.length - 1) == i">
                        <div class="col-25">
                        </div>
                        <div class="col-75">
                            <label>
                                <input type="checkbox" name="remember" (change)="addthings()"> Add Item
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="button" id="cancel" value="Cancel" (click)="goto()">
            <input type="submit" value="Submit" [disabled]="thingsForm.invalid">
        </div>
    </form>
</div>