<div class="list">
    <div class="topnav">
        <p>Personal loan EMI list</p>
    </div>
    <table>
        <thead>
            <tr>
                <th class="dateHeaded">
                    Date
                </th>
                <th class="purchaseHeaded">
                    Emi
                </th>
                <th class="totalHeaded">
                    Amount
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let list of loanList;let i=index">
                <tr>
                    <td>{{ list.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ (loanList.length - i) + ' EMI' }}</td>
                    <td style="color: palevioletred;">{{ list.amount | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
                </tr>
            </ng-container>
        </tbody>
        <p *ngIf="!loanList.length" class="noRecord">No records found....</p>
    </table>
</div>

<div>
    <div class="creditDetails" *ngIf="paidTotal">
        <i><b>Note:</b></i>&nbsp;<i>So far now loan EMI <b>paid</b> amount is: {{ paidTotal | currency: 'INR' : 'symbol'
            :
            '1.0-0' }}</i>
    </div>
</div>